* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}


header {
    height: 50px;
    display: flex;
    background-color: #265ee9;
}

.sidebar {
    display: flex;
    width: 80%;
    max-width: 1170px;
    margin: auto;
    padding-top: 10px;
}
.menu {
    height: 30px;
    width: 15%;
}

.center {
    width: 70%;
    display: flex;
    justify-content: center;
}

.center a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.accedi {
    background-color: white;
    color: #265ee9;
    font-size: 12px;
    border-radius: 20px;
    padding: 8px 10px;
    margin: 5px;
    text-decoration: none;
}


.start {
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 530px;
    width: 100%;
    display: flex;
}

.info1 {
    min-height: 200px;
    width: 700px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

h1{
    font-size: 50px;
}

.info1 h1, p, a {
    padding: 2rem;
}

.down_mac {
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 5px;
    text-decoration: none;
}

.down_icon {
    width: 20px;
    margin: 0 10px;
}

.open_discord {
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 5px;
    text-decoration: none;
}


section {
    min-height: 500px;
    display: flex;
}



.container {
    background-color: rgb(249, 197, 101);
    width: 80%;
    max-width: 1170px;
    min-height: 300px;
    margin: auto;
}

.row{
    display: flex;
    justify-content: space-between;

}
.col{
    background-color: greenyellow;
    min-height: 200px;
    border: 1px solid gray;
    align-items: center;
    margin-top: 50px;
    width: 16%;

}

.due{
    width: 70%;
}
.uno{
    width: 30%;
 }

 .big{
    min-height: 1170px;
    margin-top: 30px;
    margin-bottom: 60px;
 }

 footer{
    background-color: blue;
    min-height: 500px;
    justify-content: space-between;
 }

 .last{
    height: 40px;
    display: flex;
    justify-content: space-between;
 }

 .button{
    background-color: rgb(249, 197, 101);
    border: 1px solid gray;
    height: 20px;
    width: 100px;
    margin-top: 15px;
 }

 footer .container{
    background-color: brown;
 }

 footer .col{
    background-color: rgb(249, 197, 101);
 }

 footer .uno{
    background-color: greenyellow;
 }